<%- include ("../partials/_headerMainPlumber.ejs") %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
         
</head>
<form method="get" action="/plumber/update">
<div class="container">
<div class="container d-flex justify-content-center">
    <div class="card p-3 py-4">
        <div class="text-center"> 
            <h3 class="mt-2"><%= name %></h3> <br>
			
			
			<div class="text-center" class="row mt-3 mb-3"> 
			  <div class="text-center" class="col-md-4">
				<h5>Email</h5>
				<span class="num"><%= email %></span> 
			  </div>
			</div><br>
			<div class="text-center" class="row mt-3 mb-3">
			  <div class="text-center" class="col-md-4">
			  <h5>Phone Number</h5>
				<span class="num"><%= phone_no %></span>
			  </div>
			</div><br>
			<div class="text-center" class="row mt-3 mb-3">
			  <div  class="text-center" class="col-md-4">
			  <h5>Address</h5>
				<span class="num"><%= adr1+", "+adr2+", "+poskod+", "+city+", "+state %></span>
			  </div>
			</div><br>
            <div class="text-center" class="row mt-3 mb-3">
                <div  class="text-center" class="col-md-4">
                <h5>Latitude , Longitude</h5>
                  <span class="num"><%= lat %> , <%= long %> </span>
                </div>
              </div><br>
			<div class="text-center" class="row mt-3 mb-3">
			  <div  class="text-center" class="col-md-4">
			  <h5>Rating</h5>
				<span class="num"><%= rating %></span>
			  </div>
			</div><br>
			<div class="text-center" class="row mt-3 mb-3">
			  <div  class="text-center" class="col-md-4">
			  <h5>Star</h5>
        <table>
          <tr>
            <th>Five star</th>
            <th>Four star</th>
            <th>Three star</th>
            <th>Two star</th>
            <th>One star</th>
          </tr>
          <tr>
            <td><%= fiveStar %></td>
            <td><%= fourStar %></td>
            <td><%= threeStar %></td>
            <td><%= twoStar %></td>
            <td><%= oneStar %></td>
          </tr>
        </table>
			  </div>
			</div><br>
			<hr class="line">
			
			 
			 <button type="submit" class="profile_button px-5">Edit Profile</button>

		</div>
			   
        </div>
    </div>
</div>
</div>
</form>
<% if(message.message) { %>
    <script>
        alert("<%= message.message %>");
    </script>

    <% } %>

<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* *
 {
    margin: 200;
    padding: 1000;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif
} */


body {
    height: 100%
}

body {
    display: grid;  
    background: 	#1C2951
}

.card {
	color:#fff;
    width: 500px;
    border-radius: 10px;
   background: linear-gradient(145deg, #5885AF, #5885AF);
/* box-shadow:  20px 20px 60px #5885AF, 
             -20px -20px 60px #5885AF; */
    border: none
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
background: linear-gradient(145deg, #5885AF, #C3E0E5);
/* box-shadow: inset 20px 20px 60px #5885AF, 
             inset -20px -20px 60px #5885AF; */
}

.num{
	
	color:#eee !important;
}

.line{
	color:rgb(255, 255, 255);
}

.neo-button:active {
   border-radius: 50%;
background: #41729F;
box-shadow:  28px 28px 57px #933da2, 
             -28px -28px 57px #c351d6;
}


.profile_button{
	color:#fff;
	padding:10px; 
   border:none;
   outline:0 !important;
border-radius: 50px;
background: #274472;
/* box-shadow:  28px 28px 57px #5885AF, 
             -28px -28px 57px #5885AF; */
	
}
</style>